.main_chat
  .main_chat__top
    .main_chat__top__left
      .main_chat__top__left__groupname
        = @group.name
      %ul.main_chat__top__left__members
        Member：
        - @group.users.each do |user|
          %li.main_chat__top__left__members__member
            = user.name

    .main_chat__top__right
      = link_to "Edit", edit_group_path(@group), class: "main_chat__top__right--btn"

  .main_chat__middle
    - @messages.each do |message|
      .main_chat__middle__contents{data: {message: {id: message.id}}}
        .main_chat__middle__contents__user
          .main_chat__middle__contents__user__name
            = message.user.name
          .main_chat__middle__contents__user__date
            = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
        - if message.content.present?
          .main_chat__middle__contents__message
            = message.content
        = image_tag message.image.url, size: '300x300', alt: 'テスト画像' if message.image.present?

  .main_chat__bottom
    = form_for [@group, @message], html: {class: 'main_chat__bottom__form'} do |f|
      .main_chat__bottom__form__input
        = f.text_field :content, class: 'main_chat__bottom__form__input__text', placeholder: 'メッセージを入力してください'
        = f.label :image, class: 'main_chat__bottom__form__input__label' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, class: 'file'

      = f.submit 'Send', class: 'main_chat__bottom__form--btn'
