.side_bar
  .side_bar__top
    .side_bar__top__contents
      .side_bar__top__contents__left
        = current_user.name
      .side_bar__top__contents__right
        = link_to new_group_path(current_user), class: "side_bar__top__contents__right--btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "side_bar__top__contents__right--btn" do
          = icon('fas', 'cog', class: 'icon')
  .side_bar__bottom
    .side_bar__bottom__contents
      - current_user.groups.includes(:messages).each do |group|
        = link_to group_messages_path(group), class: "side_bar__bottom__contents__groupname" do
          = group.name
        .side_bar__bottom__contents__comment
          = group.show_last_message
